body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
}
section{
    padding: 20px;
    margin: 20px;
}
h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 30px;
}
p{
    font-size: 15px;
}
.color-1{
    color: #333333;
}
.color-2{
    color: #FFAD5A;
}
.color-3{
    color: #13103A;
}
#border{
    font-family: 'Yeseva One', cursive;
    border-left: 3px solid #FF5959;
    padding-left: 10px;
}


.btn{
    text-decoration: none;
    padding: 15px 30px;
    background-color: #FF5959;
    border-radius: 5px;
    color:#FFFFFF;
    font-size: 18px;
}
p{
    padding: 20px 0;
}
.section-1{
    display: flex;
}
.width{
    width: 50%;
}
.width img{
    width: 70%;
}
.mission{
    padding: 100px;
}
.mymission{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.section-2{
    padding: 0 100px;
}
.threebox{
    display: flex;
}
.threebox img{
    width: 50%;
}
.box1{
    background-color: #edf5f6;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}
.box2{
    background-color: #ffeeee;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}
.box3{
    background-color: #fff4d6;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}
.section-3{
    display: flex;
    padding: 100px 0;
}
.section-3 .coding-img{
    width: 40%;
}
.section-3 img{
    width: 70%;
    padding-left: 100px;
}
.section-3 .devlop{
    width: 60%;
}
.section-4{
    display: flex;
    padding: 100px 100px 0px 100px ;

}
.section-4 .globalcommunity{
    width: 60%;
    margin-right: 20px;
}
.section-4 .project{
    width: 40%;
}
.section-4 img{
    width: 90%;
    padding-left: 20px;
}
.contact{
    width: 50%;
    margin: 100px auto;         
}
.contact-section{
    font-family: 'Yeseva One', cursive;
    color: #FF5959;
    text-align: center;
}
.contact-section h3{
    color: #333333;
}

.input-btn{
    height: 30px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}
.txtarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 30px;
}

#footer{
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    background: #000;
}
#footer span{
    color: #FF5959;
}
#footer h1{
    font-size: 40px;
}
#footer p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
